.identificationSearchResultList {
    flex-direction: column !important;
}

.identificationSearchResultList .card {
    width: 100% !important;
}

.identificationSearchResultList .card .cardBox {
    margin: 0 0 10px 0 !important;
    background: var(--primary-background-color) !important;
    border-radius: var(--rounded-cards) !important;
    padding: 10px !important;
    display: grid !important;
    grid-template-columns: auto max-content 1fr !important;
    grid-template-rows: max-content 1fr !important;
    grid-template-areas:
        "image  text-top-1   text-top-2"
        "image  text-bottom  text-bottom";
}

.identificationSearchResultList .card .cardBox .cardScalable {
    width: 80px !important;
    margin-right: 15px !important;
    grid-area: image;
}

/* modified border radius so it looks right inside the card*/
.identificationSearchResultList .card .cardBox .cardScalable .cardContent {
    border-radius: calc(var(--rounded-cards) - 5px) !important;
}

.identificationSearchResultList .card .cardBox .cardText-first {
    padding: 5px 0 !important;
    font-size: 1.1em !important;
    grid-area: text-top-1;
    align-self: start !important; 
}

.identificationSearchResultList .card .cardBox .cardText-secondary:nth-child(4) {
    grid-area: text-top-2;
    justify-self: start !important;
    align-self: center !important; 
    text-align: left !important;
}

.identificationSearchResultList .card .cardBox .cardText-secondary:nth-child(3) {
    grid-area: text-bottom;
    justify-self: start !important;
    align-self: start !important; 
    text-align: left !important;
    padding-left: 0 !important;
}