:root {
    --primary-r: 0;
    --primary-g: 178;
    --primary-b: 148;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: #00b29499;
}